@{
	ViewBag.Title = "jogosdaqui API";
	Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}

<a href="@ViewData["AbsolutePath"]/Docs/Intro" title="Introdução">Introdução</a><br/><br/>
<a href="@ViewData["AbsolutePath"]/Docs/Console" title="Console">Console</a><br/><br/>
<a href="@ViewData["AbsolutePath"]/Docs/ReleaseNotes" title="Release notes" >Release notes</a><br/><br/>