@{
	ViewBag.Title = "jogosdaqui API";
	Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}

<a href="@ViewData["AbsolutePath"]/docs/intro" title="Introdução">Introdução</a><br/><br/>
<a href="@ViewData["AbsolutePath"]/docs/console" title="Console">Console</a><br/><br/>
<a href="@ViewData["AbsolutePath"]/docs/ReleaseNotes" title="Release notes" >Release notes</a><br/><br/>