@{
	ViewBag.Title = "Introdução";
	Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}

<h2>Introdução</h2>
<p>Esta página demonstra os conceitos básicos para o uso da jogosdaqui API.</p>
<p>A jogosdaqui API é uma WEB API REST utilizando as convenções e padrões definidos para esse modelo.</a>
<br />
<p>Para conhecer todos os recursos disponíveis acesse <a href="console">nosso console</a>, nele você encontrará a documentação de cada recurso, mostrando quais verbos estão disponíveis, argumentos necessários, retornos e as possíveis exceções lançadas. Além disso pode interagir sobre um ambiente de teste ou real para entender melhor o funcionamento da API.</p>