@{
    ViewBag.Title = "Release Notes";
    Layout = "~/Areas/Docs/Views/Shared/_Layout.cshtml";
}
<h2>
    Release Notes</h2>
<p>
    Esta página contém os release notes para as versões da jogosdaqui API.</p>
<ul class="releaseNotes">
    <li>Última versão: ?</li>
</ul>
<h2 class="apiVersion">
    V1</h2>
<div class="apiRelease">
    <h3 class="releaseNotes">
        Próxima release</h3>
    <div class="borderfield">
        <div class="left">
            <h3 class="releaseNotes">
                Novidades</h3>
            <ul class="releaseNotes">
                <li></li>
            </ul>
        </div>
        <div class="right">
            <h3 class="releaseNotes">
                Mudanças na API</h3>
            <ul class="releaseNotes">
            </ul>
        </div>
        <div class="clearfix">
            &nbsp;</div>
 </div>

